body{
    margin: 0;
    height: 100vh;
    background-image: url('coding2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 5px black;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

a {
    color:white;
    text-decoration: none;
}

h1 {
    color: white !important;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 15px;
}

#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article {
    padding-left: 15px;
}